.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.overlay {
  background: red;
  position: fixed;
  padding: 30px;
  top: 38%;
  left: 26%;
  width: 40%;
  height: 20%;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay:hover {
    opacity: 1;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  margin-top: 20%;
  margin-left: 20%;
}

.tooltip {
  position: absolute;
  bottom: 130%;
  left: 50%;
  transform: translateX(-50%) translateY(-5px);
  background-color: black;
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 13px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.tooltip-container:hover .tooltip {
  opacity: 1;
  transform: translateY(-5px);
}

.menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  background: #f5f5f5;
  padding: 20px;
}

.menu a {
  position: relative;
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #333;
  transition: width 0.3s ease;
}

.menu a:hover::after {
  width: 100%;
}

a:active {
    background-color: red;
}
